body, html {
	height: 100%;
	width: 100%;
    font-family: 'Poiret One', cursive;    
    font-size: 24px;            
}

.navbar{
    height:85px;
    background-color: #607D8B;
    border-bottom: 2px solid #CFD8DC;
}

.navbar .navbar-toggler{
    background-color: #FFEB3B;
    font-size: 16px;
    margin-left: 0px;
    transform: translateY(-1%);
}

.navbar-brand{
    color:white;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;  
    font-weight: bold;
    letter-spacing: 0.2em; 
    font-family: 'Amatic SC', cursive;    
}

.navbar-brand:hover{
    color: white;
}

.nav-link{    
    color: #F5F5F5;
    font-size: 22px;     
    font-weight: bold;       
}

/* Change the navigation bar style when it goes to the dropdown. */
@media (max-width: 1199px){
    
    .navbar-nav {
        position: relative;
        top: 80px;
        background-color: #212121;
    }
    
    .nav-link{
        margin-left: 20px;
    }

    .navbar-brand{
        position: absolute;
        top: 15%;
        left: 20%;
    }

    .navbar-toggler{
        position: absolute;
        top: 35%;
        left: 10%;
    }
}

.navbar-nav li.active > a {
    color: #FFEB3B !important;
}

.nav-icon{
    color: #FFEB3B;    
}

.nav-icon:hover{
    color: #9E9E9E;    
}

.scholar{
    font-size: 35px;
}

.btn-read:hover{
    color: #F5F5F5;
    background-color: #424242;
}
  
.bg { 
    /* The image used */
    background-image: url("../imgs/animals-ants-biology-842401.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ov {
    /* The image used */
    background: rgba(0, 0, 0, 0.7);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-welcome{
    position: relative;
    top: 55%;
    color: white;
    /* font-weight: bold; */
}

.section-welcome h1 i{
    color: #FFEB3B;
    /* font-weight: bold; */
}

section{
    border-top: 2px solid #FFEB3B;
    border-bottom: 2px solid #FFEB3B;
    background-color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}

section h1{
	color: #455A64;
}

section h1 i{
    color: #FFEB3B;
}

/* Change the navigation bar style when it goes to the dropdown. */
@media (max-width:750px), (max-height: 750px){

    .bg{
        height: 850px;
    }
    .ov {
        height: 850px;
    }

    .section-welcome{
        top: 20%;
    }

}

.research-details{
    margin-top:50px;
    margin-bottom:50px;
}

.section-contact p i{
    color: #607D8B;
}

.section-publications input{
    display: none;
}

table { 
    border-collapse: collapse;
    font-size: 20px;
    margin-top:50px;
    margin-bottom:50px;
} 
th { 
    background-color:#607D8B; 
    color:#FFEB3B; 
    font-size: 20px; 
} 

th a { 
    font-weight: bold;
    color:#FFEB3B; 
    font-family: 'Poiret One', cursive;       
    pointer-events: none; 
    cursor: default;   
}

th a:hover { 
    color: #37474F;        
    text-decoration: none;
}

td a {
    color:#37474F;
    font-size: 20px;
    font-weight: bold;
}

td a:hover {
    color:#37474F;
    text-decoration: none;
}

th, td { 
    width:100%; 
    text-align:left; 
    border:1px solid #F5F5F5; 
    padding:15px 
  
} 

.section-publications .gsc_a_a{
    width: 200px;
}

#gsc_a_tr0, #gsc_dd_add-r, #gsc_btn_mer, #gsc_btn_del, #gsc_dd_exp-r, #gsc_dd_mor-r, #gsc_a_err, .gs_chk, .gs_cbx, .gsc_a_x{
    display: none;
}

.map{
    margin-top:50px;
    margin-bottom:50px;    
}

#map {
    width: 100%;
    height: 400px;
    background-color: #37474F;
    border: 6px solid #607D8B;
}

.parallax{

    border-top: 1px solid #FFEB3B;
    border-bottom: 1px solid #FFEB3B;

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  
    /* Full height */
    height: 40%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-about { 
    background-image: url("../imgs/aquarium-aquatic-biology-1522160.jpg");
}

.parallax-research { 
    background-image: url("../imgs/biology-butterflies-collection-1028904.jpg");
}

.parallax-publications { 
    background-image: url("../imgs/beekeeping-bees-beeswax-971355.jpg");
}

.parallax-contact { 
    background-image: url("../imgs/bright-clean-clear-459609.jpg");
}

.fa-arrow-circle-down{
    color: #607D8B;
}

.fa-arrow-circle-down:hover{
    color: #37474F;
}

.arrow{
    position: relative;
    /* top: 90%;      */
}

footer{
    position: relative;
    padding-top: 50px;
    background-color: #455A64;
    border-top: 1px solid #CFD8DC;
    padding-bottom: 100px;
    color: #F5F5F5;
    font-size: 20px;
}

/* .copyright{
    position: absolute;
    bottom: 0; 
    bottom: 0px;
    line-height: 0;
    width: 100%;
    border-top: 2px solid #546E7A;
    background-color: #37474F;
    color: #F5F5F5;
    font-size: 18px;
} */

.footer-copyright{  
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #546E7A;
    background-color: #37474F;
}

.footer-copyright a{  
    color:#FFEB3B;
}


footer h5{
    color: white;    
}

footer a{
    color: #F5F5F5;
    font-size: 20px;
}

footer a:hover{
    color:#FFEB3B;
    text-decoration: none;
}

footer h5 i{
    color: #FFEB3B;
}