body, html {
    height: 100%;
    font-family: 'Poiret One', cursive;    
    font-size: 24px;            
}

.navbar{
    height:85px;
    background-color: #212121;
    border-bottom: 2px solid #FFEB3B;
}

.navbar .navbar-toggler{
    background-color: #FFEB3B;
    font-size: 15px;
    margin-left: 10px;
    transform: translateY(6%);
}

.navbar-brand{
    color:white;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;  
    font-weight: bold;
    letter-spacing: 0.2em; 
    font-family: 'Amatic SC', cursive;    
}

.navbar-brand:hover{
    color: #9E9E9E;
}

.nav-link{    
    color: #F5F5F5;
    font-size: 22px;     
    font-weight: bold;       
}

/* Change the navigation bar style when it goes to the dropdown. */
@media (max-width: 1199px){
    
    .navbar-nav {
        position: relative;
        top: 80px;
        background-color: #212121;
    }
    
    .nav-link{
        margin-left: 20px;
    }

    .navbar-brand{
        position: absolute;
        top: 15%;
        left: 25%;
    }

    .navbar-toggler{
        position: absolute;
        top: 35%;
        left: 10%;
    }
}

.navbar-nav li.active > a {
    color: #FFEB3B !important;
}

.nav-link:hover{
    color: #FFEB3B;
}

.nav-icon{
    color: #FFEB3B;    
}

.nav-icon:hover{
    color: #9E9E9E;    
}

.scholar{
    font-size: 35px;
}

.btn-read{
    background-color: #FFEB3B;
    font-weight: bold;
}

.btn-read:hover{
    color: #F5F5F5;
    background-color: #424242;
}
  
.bg { 
    /* The image used */
    background-image: url("../imgs/animals-ants-biology-842401.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ov {
    /* The image used */
    background: rgba(0, 0, 0, 0.78);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    /* min-height: 100vh; */
    border-top: 3px solid #FFEB3B;
    border-bottom: 3px solid #FFEB3B;
    background-color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}

.research-details{
    margin-top:50px;
    margin-bottom:50px;
}

.section-welcome{
    position: relative;
    top: 55%;
    color: white;
}

.section-welcome h2{
    font-weight: bold;
}

/* Change the navigation bar style when it goes to the dropdown. */
@media (max-width:750px), (max-height: 750px){

    .bg{
        height: 950px;
    }
    .ov {
        height: 950px;
    }

    .section-welcome{
        top: 20%;
    }

}


.section-research{
    
}

.section-publications{
    
}

.section-publications input{
    display: none;
}

table { 
    border-collapse: collapse;
    font-size: 20px;
    margin-top:50px;
    margin-bottom:50px;
} 
th { 
    background-color:#424242; 
    color:white; 
    font-size: 20px; 
} 

th a { 
    background-color:#424242; 
    font-weight: bold;
    color:white; 
    font-family: 'Poiret One', cursive;         
}
td a {
    color:#424242;
    font-size: 20px;
    font-weight: bold;
}

td a:hover {
    color:black;
}

th, td { 
    width:100%; 
    text-align:left; 
    border:1px solid #F5F5F5; 
    padding:15px 
  
} 

.section-publications .gsc_a_a{
    width: 200px;
}

#gsc_a_tr0, #gsc_dd_add-r, #gsc_btn_mer, #gsc_btn_del, #gsc_dd_exp-r, #gsc_dd_mor-r, #gsc_a_err, .gs_chk, .gs_cbx, .gsc_a_x{
    display: none;
}

.section-contact{
    
}

.map{
    margin-top:50px;
    margin-bottom:50px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.parallax{

    border-top: 1px solid #FFEB3B;
    border-bottom: 1px solid #FFEB3B;

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  
    /* Full height */
    height: 40%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-research { 
    background-image: url("../imgs/animal-biology-blurred-background-751682.jpg");
}

.parallax-publications { 
    background-image: url("../imgs/bright-clean-clear-459609.jpg");
}

.parallax-contact { 
    background-image: url("../imgs/beekeeping-bees-beeswax-971355.jpg");
}

.fa-arrow-circle-down{
    color: #FFEB3B;
}

.fa-arrow-circle-down:hover{
    color: #212121;
}

.arrow{
    position: relative;
    /* top: 90%;      */
}

footer{
    height: 500px;
    background-color: #212121;
    border-top: 3px solid #FFEB3B;
}